html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  color: #3E4147; 
  }
  body a {
    color: #3E4147;
    text-decoration: none;
    font-weight: 500 }
    body a:hover {
      color: #5A2E2E; }
  body .content {
    background: 
      linear-gradient(
        to bottom right, 
        white -25%,
        transparent 125%);
    top:0;
    left:0;
    position:fixed;
    min-width:100%;
    min-height: 100%;
    margin: 0 0 0 auto;
    padding-left: 50px; }
    body .content h1 {
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      padding: 25px 0 0;
      margin: 0px;
      font-size: 8.0em; }
    body .content p {
      font-size: 100%;
      font-weight: 400;
      max-width: 30em;
      margin: 10px 0 10px 10px;
      padding: 0px; }

#full-screen-background-image {
  z-index=-999;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}
